<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bp/attendance_bp/css/base.css">
</head>
<body>
    <div class="nav">
        <a href="{{url_for('attendance_bp.index')}}">首页</a>
        <a href="{{url_for('attendance_bp.query')}}">考勤查询</a>
        <a href="{{url_for('attendance_bp.import_page')}}">Excel导入</a>
        <a href="{{url_for('index_bp.logout')}}" class="right">退出登录</a>
        <a class="right">欢迎您，{{ username }}</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>